<section class="container justify-content-center py-5">
    <div class="row neuromorphic p-4 rounded">

        <h1 class="text-left mb-2">Deployed Projects</h1>

        <div class="col-6 mb-4">
            <div class="neuromorphic p-4 rounded">
                <iframe src="https://er-jiteshsingh.github.io/ArchitectFirm/" class="responsive-iframe w-100"
                    title="LogiStock"></iframe>
            </div>
        </div>

        <div class="col-6 mb-4">
            <div class="neuromorphic p-4 rounded">
                <iframe src="https://logistock.onrender.com/" class="responsive-iframe w-100"
                    title="LogiStock"></iframe>
            </div>
        </div>

        <div class="col-6 mb-4">
            <div class="neuromorphic p-4 rounded">
                <iframe src="https://laureates.vercel.app/alan" class="responsive-iframe"
                    title="Turing Laureates"></iframe>
            </div>
        </div>

        <div class="col-6 mb-4">
            <div class="neuromorphic p-4 rounded">
                <iframe src="https://streamflix-ui.vercel.app/" class="responsive-iframe" title="Stream Flix"></iframe>
            </div>
        </div>
    </div>
</section>