<section class="container py-5">
  <div class="row neuromorphic p-4 rounded">

    <div class="col-12 mb-4">
      <h1>Skills</h1>
      <div class="neuromorphic p-4 rounded">
        <div class="d-flex flex-wrap justify-content-center">
          <span class="skill-chip">Java</span>
          <span class="skill-chip">Angular</span>
          <span class="skill-chip">React</span>
          <span class="skill-chip">Microservices</span>
          <span class="skill-chip">HTML</span>
          <span class="skill-chip">CSS</span>
          <span class="skill-chip">Bootstrap</span>
          <span class="skill-chip">MySql</span>
          <span class="skill-chip">JavaScript</span>
          <span class="skill-chip">Docker</span>
          <span class="skill-chip">Git</span>
          <span class="skill-chip">Linux</span>
        </div>
      </div>
    </div>

    <div class="col-12 mb-4">
      <h2 class="text-left mb-4">Projects</h2>

      <div class="row neuromorphic p-4 rounded">

        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow neuromorphic p-4 rounded">
            <div class="card-body">
              <h5 class="card-title">LogiStock</h5>
              <p class="card-text">
                Developed Logistics Inventory Management to manage the inbound and outbound process of logistic firm
              </p>
              <a href="https://logistock.onrender.com/" class="btn btn-primary" target="_blank">View Project</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow neuromorphic p-4 rounded">
            <div class="card-body">
              <h5 class="card-title">StreamFlix</h5>
              <p class="card-text">
                Developed a video streaming application with adaptive bitrate streaming using HLS (HTTP Live Streaming).
                Implemented video playback in multiple resolutions, ensuring seamless viewing experiences across
                devices.
              <b>Tech Stack: React.js, Vite, Axios, Flowbite, Video.js, JavaScript, FFmpeg, Spring Boot, HLS, RESTful API</b>
              </p>
              <a href="https://streamflix.vercel.app/" class="btn btn-primary" target="_blank">View Project</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>